<!DOCTYPE html>
<html>
	<head>
	  <title>Dreams</title>
	  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://vjs.zencdn.net/c/video.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<center><%= button_to "Saved Dreams", users_path %></center>
	  <center><div id="player"></div></center>
	  <center><div id="ytplayer"></div></center>
	  <div class='thin-progress-bar'></div>
		<%= yield %>
	</body>
</html>
