<!DOCTYPE html>
<html>
	<head>
	  <title>Dreams</title>
	  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
		  <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	  <script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application'%>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<%= video_tag "swan.mp4", :id => "bgvid", :autoplay => true, :loop => true  %>
	  <center><div id="player"></div></center>
		<%= yield %>
	</body>
</html>
